<% var rootPath = '../../partials/'; %>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/page.css"/>
    <%- include(rootPath + 'includes') %>
  </head> 
  <body>
    <%- include(rootPath + 'nav') %>
    <div style="background-image: url('../public/<%= account.banner %>'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
        <div class="homeDiv center">
            <h1 class="titleMain" style="color:#000000"><%= account.name %></h1>
            <div class="container padY60 padX0"></div> 
        </div>
      </div>
      
      
      <div class="homeSouth">
        <h4><a class="stealthLink subPmin padX0" href="#">About Me</a></h4>
        <button class="smoothScrollBtn" type="button"><img src="../images/Down-Arrow-White.png" width="30"/></button>
      </div>
        <%- include(rootPath + 'subnav/sidebar') %>
    </div>  
    
    <div style="color: white" id="aboutMe" class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">About Me</h1>
            <div class="row">
              <div id="bios"></div>
            </div>
          </div>
      </div>

    <%- include(rootPath + 'footer') %>
    <script src="../includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="../includes/odometer-theme-default.css"/>
    <script src="../includes/odometer.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
    <script type="text/javascript" src="../scripts/api/script.js"></script>
  </body>
</html>
