<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/page.css">
        <style>
            .platformProfile {
                height: 300px;
            }
        </style>
        <%- include ('../partials/includes') %>
    </head>
    <body>
        <%- include ('../partials/darknav') %>
        <div class="container-fluid" style="color: white; background-color: #24292E">
            <div class="container platformProfile" style="background-color: #24292E">
                <div class="container padY60 padX0">
                    <img src="public/<%= user.banner %>" style="height: 100px"><br>
                    <strong style="color: white"><%= user.name %></strong><br>
                    <p id="followers"></p>
                    <p id="following"></p><br>
                    <br>
                    <hr>
                </div>
            </div> 
            <br>
            <div style="height: 100px"></div>
            <div class="container-fluid">
                <p id="posts"></p>
            </div>
            <%- include ('../partials/footer') %>
        </div>
        <script>
        $(document).ready(function() {
            var friends_url = '/friends';
            loadPosts();
            Followers();
            
            function loadPosts() {
                $.getJSON('/following', function(data) {
                    if (data.following == 0) {
                        noActivity();
                        zeroFollowing();
                    } else {
                        data.following.forEach(getPosts)
                        followingCount(data);

                    }
                });
            }
            
            function getPosts(item, index) {
                $.getJSON('/posts/' + item.paramID, function(posts) {
                    for (var i = 0; i < posts.posts.length; i++) {
                        document.getElementById("posts").innerHTML +=
                        '<div class="media">' +
                            '<span class="mr-3 fa fa-user fa-lg">' + '</span>' +  
                            '<div class="media-body">' + 
                                '<h5 class="mt-0">' + posts.posts[i].user_name + '</h5>' +
                                '<p style="color: white">' + 
                                    posts.posts[i].status + '<br>' + 
                                    posts.posts[i].date_time + 
                                '</p>' +
                            '</div>' +
                        '</div>' + '<hr>';
                    }
                })
            }
            
            function noActivity() {
                document.getElementById("posts").innerHTML +=
                '<p style="color: white">' + "No News Feed Activity" + '</p>';
            }
            
            function zeroFollowing() {
                document.getElementById("following").innerHTML +=
                '<p style="color: white">' + '<a style="color: white" href=' + friends_url + '>' + "Following: 0" + '</a>' + '</p>';
            }
            
            function followingCount(data) {
                document.getElementById("following").innerHTML +=
                '<p style="color: white">' + '<a style="color: white" href=' + friends_url + '>' + "Following: " + '</a>' + '<b class="odometer">' + data.following.length + '</b>' + '</p>';
            }
            
            function Followers() {
                $.getJSON('/followers', function(data) {
                    if (data.followers == 0) {
                        zeroFollowers();
                    } else {
                        followerCount(data);
                    }
                });
            }
            
            function followerCount(data) {
                document.getElementById("followers").innerHTML +=
                '<p style="color: white">' + '<a style="color: white" href=' + friends_url + '>' + "Followers: " + '</a>' + '<b class="odometer">' + data.followers.length + '</b>' + '</p>';
            }
            
            function zeroFollowers() {
                document.getElementById("followers").innerHTML +=
                '<p style="color: white">' + '<a style="color: white" href=' + friends_url + '>' + "Followers: 0" + '</a>' + '</p>';
            }
        });
        </script>


    </body>
</html>