<% var rootPath = '../../partials/'; %>
<% var sidePath = '../../pages/accounts/partial/'; %>
<link rel="stylesheet" href="../css/sidebar.css">
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3><%= account.name %></h3><br>
      <% if (follow.following === 1) { %>
        <form action='/follow/<%= account.id %>' method="post">
          <input type="hidden" name="_method" value="Unfollow">
          <input type="submit" value="Unfollow" class="btn btn-secondary">
        </form>
     <% } else { %>
        <form action='/follow/<%= account.id %>' method="post">
          <input type="hidden" name="_method" value="Follow">
          <input type="submit" value="Follow" class="btn btn-primary">
        </form>
     <% } %>
     <br>
     <p id="following"></p>
     <p id="followers"></p>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a class="smoothScrollBtn" href="/bio/<%= account.id %>">About Me</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accounts</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a data-toggle="tab" href="#posts">Posts</a>
          </li>
          <li>
            <a style="color:#00ffff" data-toggle="tab" href="#twitter"><span class="fa fa-twitter fa-lg"></span></a>
          </li>
          <li>
            <a style="color:#BF94FF" data-toggle="tab" href="#twitch"><span class="fa fa-twitch fa-lg"></span></a>
          </li>
          <li>
            <a style="color:#28A745" data-toggle="tab" href="#github"><span class="fa fa-github fa-lg"></span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/users_all">Lookup <span class="fa fa-search"></span></a>
      </li>
      <li>
        <a href="/userposts/<%= account.id %>">Posts</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="sidenav sidenav-expand-lg sidebar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="sidenav-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse sidebar-collape" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="line"></div>
    <div class="tab-content">
      <div id="twitter" class="tab-pane fade in">
        <%- include(sidePath + 'twitter') %>
      </div>
      <div id="github" class="tab-pane fade in">
        <%- include(sidePath + 'github') %>
      </div>
      <div id="twitch" class="tab-pane fade in">
        <%- include(sidePath + 'twitch') %>
      </div>
      <div id="posts" class="tabe-pane fade in active">
        <%- include(sidePath + 'posts') %>
      </div>
    </div>
    

    <div class="line"></div>
  </div>
</div>
<script src="https://js.pusher.com/5.0/pusher.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
      $(this).toggleClass('active');
    });
    $("a").click(function() {
      $("b").toggleClass("odometer")
    });
  });
</script>